aws-shell==0.1.1
flake8==3.2.1
haxor-news==0.4.1
httpstat==1.2.1
ipython==5.1.0
isort==4.2.5
neovim==0.1.12
pylint==1.6.4
requests==2.12.3
speedtest-cli==1.0.0
-e git+git@github.com:zackhsi/venmo.git@5999789c741f5e12096cd6aaf209b3aa59e45e70#egg=venmo
virtualenv==15.1.0
## The following requirements were added by pip freeze:
appnope==0.1.0
astroid==1.4.8
awscli==1.11.25
backports.functools-lru-cache==1.3
backports.shutil-get-terminal-size==1.0.0
boto3==1.4.2
botocore==1.4.82
click==6.6
colorama==0.3.7
configobj==5.0.6
configparser==3.5.0
decorator==4.0.10
docutils==0.12
enum34==1.1.6
futures==3.0.5
gnureadline==6.3.3
greenlet==0.4.10
ipython-genutils==0.1.0
jmespath==0.9.0
lazy-object-proxy==1.2.2
mccabe==0.5.2
mercurial==3.9
msgpack-python==0.4.8
pathlib2==2.1.0
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.9
psutil==4.3.0
ptyprocess==0.5.1
pyasn1==0.1.9
pycodestyle==2.2.0
pyflakes==1.3.0
Pygments==2.1.3
python-dateutil==2.6.0
PyYAML==3.12
rsa==3.4.2
s3transfer==0.1.9
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.1
trollius==2.1
vboxapi==1.0
vprof==0.31
wcwidth==0.1.7
wrapt==1.10.8
