# This file contains top-level dependencies.
# 
# To add new dependency, add it to this list then run:
#   pip-compile
#   pip-sync

flake8
ipython
isort
pip-tools
requests
saws
speedtest-cli
virtualenv
