aiohttp
attrs
ipython
pre-commit
twine

# Editor.
flake8>=3.5.0
isort
jedi>=0.11.0
markdown2ctags
mistune
mypy
mypy-extensions
neovim
psutil
pyflakes>=1.6.0
pylint>=1.8.1
setproctitle

# Lyft.
-e /Users/zhsi/repos/lyft/python-lyft-public-api-lib
-e /Users/zhsi/repos/lyft/python-lyft-stdlib
